html, body{
	height:100%;
	width:100%;
	margin:0;
	font-family:futura;
}

nav.navbar {
	width:100%;
	z-index:3000;
	position:fixed;
	animation:intro1 ease-in .5s;
}

@keyframes intro1 {
	from {
		transform:translateY(-70px);
	}
	to{
		transform:translateY(0);
	}
}

.center h1 {
	animation:intro2 ease-in .5s;
}

@keyframes intro2 {
	from {
		opacity:0;
		transform:translateX(-70px);
	}
	to {
		opacity:1
		transform:translateX(0);
	}
}

.center p {
	animation:intro3 .5s ease-in;
}

@keyframes intro3 {
	from {
		opacity:0;
		transform:translateX(70px);
	}
	to {
		opacity:1
		transform:translateX(0);
	}
}

#title {
	background: url('check2.png') no-repeat center center fixed;
	display:table;
	height:100vh;
	width:100%;
	background-size:cover;
	position:relative;
}

#title h1 {
	color:white;
}

#title p {
	color:white;
}

.center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size:150%;
}

#contact table tr td img {
	height:30px;
	width:30px;
	filter: grayscale(75%);
}

#contact table tr td img:hover {
	transform:scale(1.1);
	transition:ease-in .3s;
}

#contact table tr td {
	padding-left:20px;
	padding-right:20px;
}

#contact {
	animation:intro4 .5s ease-in;
}

@keyframes intro4{
	from {
		opacity:0;
		transform:translateY(70px);
	}
	to {
		opacity:1;
		transform:translateY(0);
	}
}

#down {
	font-size:40px;
	color:#595b5b;
	animation:goDown 1s infinite ease-in-out;
}

#down:hover {
	color:white;
}

@keyframes goDown {
	0% {
		transform:translateY(0);
	}
	50% {
		transform:translateY(20px);
	}
	100% {
		transform:translateY(0);
	}
}

#about {
	margin-top:50px;
}

#about .row .col-md-4 img {
	height:400px;
	width:400px;
	border-radius: 50%;
	z-index:100;
	padding:20px;
}

#about .row .col-md-4 {
	height:100%;
}

.jumbotron {
	background-color:white !important;
}

.jumbotron-fluid {
	padding-left:1em !important;
}

#about .row .col-md-8 {
	height:100%;
	padding:0;
}

#about .row .col-md-8 p {
	padding:40px;
}

#about .row .col-md-8 h1 {
	padding-left:40px;
	padding-right:40px;
}

i.fa {
	font-size:100px;
}

#skills {
	padding-top:50px;
	padding-bottom:50px;
	padding-left:200px;
	padding-right:200px;
	background-color: #2c3e50;
	color:white;
}

#skills .row .col-md-4 {
	padding-top:3em;
	padding-bottom:3em;
}

#programs{
	padding:20px;
}

#portfolio {
	padding-top:50px;
	padding-bottom:50px;
	padding-left:3em;
	padding-right:3em;
}


#port {
	font-size:60px;
}


.light {
	font-size:18px;
	color:white;
	display:none;
}

.light span {
	color:black;
}

#EMAR:hover .light {
	animation:info ease-in .3s;
	display:flex;
}

@keyframes info {
	from{
		opacity:0;
		transform:translateY(-20px);
	} 
	to {
		transform:translateY(0);
		opacity:1;
	}
}

#EMAR:hover h1 {
	display:none;
}

#EMAR {
	height:400px;
	background:url('emarEX.jpg') no-repeat;
	background-size:100%;
}

#EMAR h1 {
	color: white;
}

#personalWeb {
	height:400px;
	background:url('pwEX.jpg') no-repeat;
	background-size:100%;
}

#personalWeb:hover .light {
	animation:info ease-in .3s;
	display:flex;
}

#personalWeb:hover h1 {
	display:none;
}

#personalWeb h1 {
	color:white;
}

#git {
	height:400px;
	background: url('gitEX.png') no-repeat;
	background-size:100%;
}

#git h1 {
	color:white;
}

#git:hover .light {
	animation:info ease-in .3s;
	display:flex;
}

#git:hover h1 {
	display:none;
}

#dub:hover .light {
	animation:info ease-in .3s;
	display:flex;
}

#dub:hover h1 {
	display:none;
}


#dub {
	height:400px;
	background:url('dubEX.png') no-repeat;
	background-size:100%;
}

#dub h1 {
	color:white;
}

#oa {
	height:400px;
	background:url('oaEX.png') no-repeat;
	background-size:100%;
}

#oa h1 {
	color:white;
}

#oa:hover .light {
	animation:info ease-in .3s;
	display:flex;
}

#oa:hover h1 {
	display:none;
}

#design {
	height:400px;
	background:url('design.png') no-repeat;
	background-size:100%;
}

#design h1 {
	color:white;
}

#design:hover .light {
	animation:info ease-in .3s;
	display:flex;
}

#design:hover h1 {
	display:none;
}

#tsa {
	height:400px;
	background:url('tsa.jpg') no-repeat;
	background-size:100%;
}

#tsa h1 {
	color:white;
}

#tsa:hover .light {
	animation:info ease-in .3s;
	display:flex;
}

#tsa:hover h1 {
	display:none;
}


.row .col-md-6 p {
	padding-left:30px;
	padding-right:30px;
}

#footer {
	color:white;
	background-color: #2c3e50;
}

#footer .row {
	padding:30px;
}