html, body{
	height:100%;	
	margin:0;
	font-family:futura;
}

.container-fluid .row .col-md-6 img {
	height:700px;
	width:1000px;
}



#title {
	font-size:20px;
	margin:0;
	height:100%;
	width:100%;
	color:white;
	text-align:center;
}

#vertical-align {
	transform:translateX(-50%);
	left:50%;
	position:absolute;
	top:40%;
}

#vertical-align h1{
	margin:0;
	animation:joFade .8s ease-in;
}

@keyframes joFade{
	from{
		transform:translateX(-50px);
		opacity:0;
	}
	to{
		transform:translateX(0);
		opacity:1;
	}
}

#vertical-align p{
	font-family: futura Lt Bt;
	animation:pFade .8s ease-in;
}

@keyframes pFade{
	from{
		transform:translateX(50px);
		opacity:0;
	}
	to{
		transform:translateX(0);
		opacity:1;
	}
}

#container {
	height:100%;
	width:100%;
	background:url('check2.png') no-repeat;
	background-size:cover;
	margin:0;
	padding:0;
}

#contact table {
	animation:conFade .5s ease-in;
}

@keyframes conFade{
	from{
		transform:translateY(80px);
	}
	to{
		transform:translateY(0px);
	}
}

#contact table tr td {
	padding:20px;
}

#contact table tr td img{
	filter:grayscale(70%);
	height:30px;
	width:30px;
}

#contact table tr td img:hover {
	transform:scale(1.2);
}

#bio {
	font-family:futura md bt;
	height:100%;
	width:100%;
}

#vertical {
	position:absolute;
	top:20%;
	left:50%;
	transform:translateX(-50%);
	width:70%;
}

#vertical table tr td img {
	height:500px;
	width:650px;
	border:2px solid black;
}

#vertical table tr td {
	padding-right:10px;
}

#vertical table tr td p{
	font-size:20px;
}

#skills {
	position:absolute;
	top:8%;
	width:100%;
	height:100%;
}

#skills ul li {
	padding:50px;
	font-size:80px;
	list-style:none;
	animation:listFade .5s ease-in;
}

@keyframes listFade {
	from{
		transform:scale(1.1);
		opacity:0;
	}
	to{
		transform:scale(1);
		opacity:1;
	}
}

#skills ul li a{
	text-decoration:none;
	color:#2e2f30;
}

#skills ul li a:hover {
	padding:5px;
	border-bottom:2px solid #2e2f30;
	border-top:2px solid #2e2f30;
}

#icon {
	position:absolute;
	left:45%;
	top:3%;
	width:100%;
	height:100%;
}

#icon table tr td {
	text-align:center;
	padding:40px;
	padding-right:100px;
}

#icon table tr td img {
	height: 80px;
	width:80px;
	border-radius:20px;
}

#icon table tr td h4{
	font-family:futura md bt;
	text-align:center;
	visibility:hidden;
}

#icon table tr td img:hover {
	transform:scale(1.1);
	transition:.5s all ease-in;
	filter:brightness(.5);
}

#icon table tr span:hover h4{
	visibility:visible;
	animation:.3s name ease-in;
}

@keyframes name{
	from{
		transform:translateY(-30px);
		opacity:0;
	}
	to{
		opacity:1;
		transform:translateY(0);
	}
}

#logo { 
	font-size:30px;
	text-align:left;
	padding-top:.75%;
}

#program {
	text-align:center;
	font-size:80px;
	
}

#program a {
	text-decoration:none;
	color:black;
}

#program a:hover{
	border-top:2px solid black;
	border-bottom:2px solid black;
}

div.col-md-12 {
	padding:0;
}

.jumbotron-fluid {
	padding-left:150px !important;
	padding-right:150px !important;
	margin-bottom:0 !important;
}

.container-fluid .row .col-md-2 img {
	padding:15px;
	border-radius:25px;
}

a.nav-item.nav-link:hover {
	border-bottom:5px solid #efefef;
}

nav.navbar.navbar-toggleable-sm.navbar-inverse {
	position:relative;
	animation:navSlide .5s ease-in;
}

@keyframes navSlide {
	from{
		transform:translateY(-100px);
	}
	to{
		transform:translateY(0px);
	}
}

.container-fluid .row .col-md-12 img {
	position:relative;
	animation:meSlide .5s ease-in;
}

@keyframes meSlide {
	from{
		opacity:0;
		transform:translateX(-2000px);
	}
	to{
		opacity:1;
		transform:translateX(0px);
	}
}

#first .col-md-2 img {
	position:relative;
	animation:imgIntro1 1.5s ease-in;
}

@keyframes imgIntro1 {
	from{
		opacity:0;
		transform:scale(.8);
	}
	to{
		opacity:1;
		transform:scale(1);
	}
}

#second .col-md-2 img {
	position:relative;
	animation:imgIntro2 1s ease-in;
}

@keyframes imgIntro2 {
	from{
		opacity:0;
		transform:scale(.8);
	}
	to{
		opacity:1;
		transform:scale(1);
	}
}

#third .col-md-2 img {
	position:relative;
	animation:imgIntro3 .5s ease-in;
}

@keyframes imgIntro3 {
	from{
		opacity:0;
		transform:scale(.8);
	}
	to{
		opacity:1;
		transform:scale(1);
	}
}

#program a {
	position:relative;
	animation:headerIn .5s ease-in;
}

@keyframes headerIn {
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}