body {
	font-size:25px;
	font-family:century gothic;
	background-color:red;
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	padding-top:90px;
    overflow-x: hidden; 
}

a {
	text-decoration:none;
	color:black;
}

#navigation {
	
	border-bottom:2px solid black;
	font-weight:bold;
	text-align:center;
	background-color:white;
	margin:0;
	width:100%;
	height:90px;
	position:fixed;
	top:0;
}

#navigation table {
	width:100%;
	height:100%;
}

#navigation img{
	height:30px;
	width:30px;
}

#navigation td:hover {
	border-bottom:7px solid black;
	margin:0;
}

#banner {
	background-image:url('wallpaper.png');
	background-size:cover;
	width:100%;
	height:700px;
	background-attachment:fixed;
}

#banner h1 {
	color:white;
	text-align:center;
	font-size:200px;
	position:absolute;
	font-family:arial black;
	left:15%;
}

#banner h5 {
	color:white;
	font-weight:10px;
	font-family:arial;
	position:absolute;
	left:30%;
	top:63%;
	margin:0
}

#bio {
	background-image:url('bamboo.jpg');
	background-size:cover;
	height:300px;
	background-attachment:fixed;
	width:100%;
	margin:0;
}

#bio img{
	border:2px white solid;
	height:200px;
	width:120px;
}

#bio p{
	padding:0;
	margin:0;
	margin-left:10px;
	width:1400px;
	text-indent:50px;
}


#bio ul li{
	float:left;
	list-style:none;
}

#skills {
	background-image:url('coding.png');
	background-size:cover;
	background-attachment:fixed;
	height:900px;
	width:100%;
}

#skills table{
	width:100%;
}

#skills img{
	height:200px;
	width:200px;
}

#skills td{
	padding-top:20px;
	text-align:center;
}

#work {
	text-align:center;
	background-image:url('coffee.jpg');
	background-size:cover;
	width:100%;
	height:700px;
	background-attachment:fixed;
}

#work ul {
	list-style:none;
	padding:0;
}

#work ul li{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}

#work ul li img{
	padding-left:105px;
	padding-right:105px;
	height:200px;
	width:200px;
}

#drop {
	margin:0;
	border:0;
	position:relative;
	left:380px;
}

#drop ul li ul li{
	border-radius:20px;
	padding:5px;
	width:400px;
	background-color:#e0b89a;
	border:2px solid black;
	display:none;
}

#drop ul li:hover ul li{
	display:block;
}

#drop ul li img:hover {
	border:4px solid black;
	border-radius:20px;
}

#contact {
	background-image:url('map.jpg');
	background-size:cover;
	width:100%;
	height:500px;
	background-attachment:fixed;
}

#contact img {
	height:200px;
	width:200px;
}

h3, th {
	font-family:impact;
	text-align:center;
	margin:0;
	background:rgba(76,70,64,0.4);
	padding:0;
	color:white;
}

#contact ul{
	list-style:none;
}

#contact ul li{
	float:left;
	padding:40px;
}

#contact ul li img:hover {
	border:4px solid black;
	padding:5px;
	border-radius:20px;
}

#box {
	position:absolute;
	left:330px;
}


